In [3]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from beautifulsoup4) (2.1)
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [39]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

## S&P500_company_financials.csv
#### From Ycharts

### Example - AAPL company

In [412]:
URL = "https://ycharts.com/companies/AAPL"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html5lib")
table = soup.find_all(class_ = "col2")

In [107]:
table[5]#net income:86.80B

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:net_income_ttm,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                86.80B

                        </td>

In [108]:
table[11] #DY:0.59%

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:dividend_yield,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                0.59%

                        </td>

In [109]:
table[16] #PS:7.071

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:ps_ratio,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                7.071

                        </td>

In [110]:
table[17] #PE:28.23

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:pe_ratio,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                28.23

                        </td>

In [111]:
table[18] #PB:37.09

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:price_to_book_value,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                37.09

                        </td>

In [112]:
table[21] #D/E:1.895

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:debt_equity_ratio,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                1.895

                        </td>

In [114]:
table[22] #FCF:19.00B

<td class="col2">


                                    <a class="iconChart rt" href="/companies/AAPL/chart/#/?annotations=&amp;annualizedReturns=false&amp;calcs=id:free_cash_flow,include:true,,&amp;chartType=interactive&amp;correlations=&amp;dateSelection=range&amp;displayDateRange=false&amp;displayTicker=false&amp;endDate=&amp;format=real&amp;legendOnChart=true&amp;maxPoints=&amp;note=&amp;partner=&amp;quoteLegend=true&amp;quotes=&amp;recessions=false&amp;redesign=false&amp;scaleType=linear&amp;securities=id:AAPL,include:true,,&amp;securityGroup=&amp;securitylistName=&amp;securitylistSecurityId=&amp;source=false&amp;splitType=single&amp;startDate=&amp;title=&amp;units=false&amp;useCustomColors=false&amp;useEstimates=false&amp;zoom=5"></a>


                                19.00B

                        </td>

### For all companies:

In [206]:
#Only keep numbers
def get_num(input_):
    pattern = re.compile(r"\d+.\d+")
    string = pattern.search(input_.text)
    
    return (string.group())

In [116]:
company_info = {}

for i in lst_symbol[1]:
    
    URL = "https://ycharts.com/companies/{}"
    URL = URL.format(i)
        
    page = requests.get(URL)

    soup = BeautifulSoup(page.content, "html5lib")
        
    table = soup.find_all(class_ = "col2")
    

    info = {}
    info["Profit"] = get_num(table[5])
    info["DY"] = get_num(table[11])
    info["PS"] = get_num(table[16])
    info["PE"] = get_num(table[17])
    info["PB"] = get_num(table[18])
    info["DE"] = get_num(table[21])
    info["FCF"] = get_num(table[22])

    company_info[i] = info

In [92]:
company_financials = pd.DataFrame(company_info.items(), columns=['Symbol', 'Financials'])

In [94]:
company_financials.to_csv('company_financials.csv', index=False)

In [181]:
#Convert string dictionary to dictionary 
import ast 
company_financials.Financials = company_financials.Financials.apply(lambda a: ast.literal_eval(a))

In [182]:
#Unpack dictionary 
elements = company_financials.Financials.apply(pd.Series)

In [183]:
company_financials = company_financials.join(elements)
company_financials = company_financials.drop(['Financials'], axis=1)

In [188]:
company_financials.head(5)

  Symbol  Profit    DY      PS     PE      PB      DE     FCF
0   AAPL   86.80  0.59   7.049  28.14  36.970  1.8950  19.000
1   MSFT   61.27  0.76  13.400  36.79  15.670  0.4095  16.260
2   AMZN   29.44  0.00   3.900  58.75  14.870  0.4380   1.573
3     FB   38.96  0.00   9.859  26.50   7.296  0.0000   8.635
4  GOOGL   62.93  0.00   8.638  30.21   7.823  0.0603  16.390

## company_info.csv 
#### From Wikipedia ("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")

In [2]:
URL = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html5lib")
table = soup.find('tbody')
rows = table.find_all("td")

In [13]:
rows[0]#symbol

<td><a class="external text" href="https://www.nyse.com/quote/XNYS:MMM" rel="nofollow">MMM</a>
</td>

In [14]:
rows[5]#location

In [15]:
rows[6]#date first added

In [16]:
rows[8]#founding year

<td>1902
</td>

In [17]:
def get_info(index,df):
    
    info = []
   
    i = index
    while i < len(df):
        line = df[i].text
        line = line.strip('\n')
        info.append(line)
        i = i+9 
    
    return info

In [18]:
symbols = get_info(0,rows)

In [19]:
symbols[0:5]

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN']

In [20]:
headquarters = get_info(5,rows)
headquarters[0:5]

['Saint Paul, Minnesota',
 'North Chicago, Illinois',
 'North Chicago, Illinois',
 'Danvers, Massachusetts',
 'Dublin, Ireland']

In [21]:
add_date = get_info(6,rows)
add_date[0:5]

['1976-08-09', '1964-03-31', '2012-12-31', '2018-05-31', '2011-07-06']

In [22]:
founded = get_info(8,rows)
founded[0:5]

['1902', '1888', '2013 (1888)', '1981', '1989']

In [23]:
#convert lists to dictionary before creating the dataframe 
df = {'Symbol': symbols, 'Headquarter': headquarters, 'Date Added': add_date, 'Founding Year': founded}

In [1]:
import pandas as pd

In [26]:
df = pd.DataFrame(df)
df[0:5]

  Symbol              Headquarter  Date Added Founding Year
0    MMM    Saint Paul, Minnesota  1976-08-09          1902
1    ABT  North Chicago, Illinois  1964-03-31          1888
2   ABBV  North Chicago, Illinois  2012-12-31   2013 (1888)
3   ABMD   Danvers, Massachusetts  2018-05-31          1981
4    ACN          Dublin, Ireland  2011-07-06          1989

In [27]:
##manually check the founding years/locations of headquarters for each company 
df['Founding Year'][2] = '2013'
df['Founding Year'][25] = '1860'
df['Founding Year'][40] = '2004'
df['Founding Year'][41] = '1982'
df['Founding Year'][51] = '1983'
df['Founding Year'][60] = '1998'
df['Founding Year'][89] = '1915'
df['Founding Year'][141] = '1899'
df['Headquarter'][141] = 'York, Pennsylvania'
df['Founding Year'][201] = '2011'
df['Founding Year'][237] = '1939'
df['Founding Year'][252] = '1930'
df['Founding Year'][253] = '1958'
df['Founding Year'][266] = '2000'
df['Founding Year'][275] = '1997'
df['Founding Year'][276] = '2015'
df['Founding Year'][278] = '2019'
df['Founding Year'][281] = '1950'
df['Founding Year'][293] = '1921'
df['Founding Year'][294] = '1968'
df['Founding Year'][298] = '2009'
df['Founding Year'][319] = '2005'
df['Founding Year'][322] = '1935'
df['Founding Year'][325] = '2004'
df['Founding Year'][326] = '2011'
df['Founding Year'][333] = '2013'
df['Founding Year'][334] = '2013'
df['Founding Year'][335] = '1984'
df['Founding Year'][339] = '1990'
df['Headquarter'][339] = 'Atlanta, Georgia'
df['Founding Year'][341] = '1994'
df['Founding Year'][343] = '1966'
df['Founding Year'][357] = '1853'
df['Founding Year'][369] = '1887'
df['Founding Year'][371] = '1847'
df['Founding Year'][372] = '2012'
df['Founding Year'][400] = '1998'
df['Founding Year'][443] = '1956'
df['Founding Year'][470] = '1983'
df['Founding Year'][473] = '2019'
df['Founding Year'][479] = '1869'

In [28]:
df['Founding Year'] = df['Founding Year'].astype(int)

In [29]:
df.to_csv('company_info.csv', index=False)

## company_employees.csv
#### From CSIMarket

### Example - AAPL Company

In [189]:
URL = "https://csimarket.com/stocks/at_glance.php?code=AAPL"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html5lib")
table = soup.find_all('table', class_ = "comgl")

In [194]:
table

[<table border="0" cellpadding="5" cellspacing="0" class="comgl">

               <tbody><tr>
                   <td class="al ecol"> Market Capitalization <span class="malisivi">(Millions $)</span> </td>
                 <td class="b">
                   2,407,004                </td>
               </tr>
               <tr>
                   <td class="sivirub al ecol"> Shares
                     Outstanding <span class="malisivi">(Millions)</span></td>
                 <td class="sivirub b">
                   16,782                </td>
               </tr>
               <tr>
                   <td class="bijelirub al ecol"> Employees</td>
                 <td class="bijelirub b">
                   137,000                </td>
               </tr>
               <tr>
                   <td class="sivirub al ecol"> Revenues <span class="malisivi">(TTM) (Millions $)</span></td>
                 <td class="sivirub b">
                   347,155                </td>
               </tr>
               <tr>
                   <td class="bijelirub al ecol"> Net Income<span class="malisivi"> (TTM) (Millions $)</span></td>
                 <td class="bijelirub b">
                   86,802                </td>
               </tr>
 			  <tr>
                   <td class="sivirub al ecol"> Cash Flow <span class="malisivi">(TTM) (Millions $)</span></td>
                 <td class="sivirub b">
                   237                </td>
               </tr>
               <tr>
                   <td class="bijelirub al ecol"> Capital Exp. <span class="malisivi">(TTM) (Millions $)</span> </td>
                 <td class="bijelirub b">
                   9,646                </td>
               </tr>






             </tbody></table>]

### For all companies:

In [260]:
def get_num(text):
    pattern = re.compile(r"\d+")
    string = pattern.search(text)
    
    if string != None:
        return (int(string.group()))
    else:
        return 0

In [356]:
company_employees = {}


for i in lst_symbol[503:]:
   
    URL = "https://csimarket.com/stocks/at_glance.php?code={}"
    URL = URL.format(i)
        
    page = requests.get(URL)

    soup = BeautifulSoup(page.content, "html5lib")
        
    table = soup.find_all('table', class_ = "comgl")
    table = table[0].find_all('tr')

    text = table[2].text
    text = re.sub(r"[^\w\s]",'',text)
    

    company_employees[i] = get_num(text)

In [358]:
company_employees = pd.DataFrame(company_employees.items(), columns=['Symbol', 'Employee'])
company_employees.to_csv('company_employees.csv', index=False)

In [366]:
company_employees.head(5)

  Symbol  Employee
0   AAPL    137000
1   MSFT    163000
2   AMZN    798000
3     FB     44942
4  GOOGL    118899

### Up to date (9/9/2021) S&P 500 companies By Weight
https://www.slickcharts.com/sp500

In [21]:
pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
     |████████████████████████████████| 904 kB 8.2 MB/s eta 0:00:01
Requirement already satisfied: urllib3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from selenium) (1.26.2)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [33]:
from selenium import webdriver

In [31]:
URL = "https://www.slickcharts.com/sp500"

### Render javascript to extract the data 
1. Download chromedriver from https://sites.google.com/chromium.org/driver/
2. set the chromedriver path to '/usr/local/bin/chromedriver' by using the terminal command 'sudo mv -f chromedriver /usr/local/bin/chromedriver' (if you downloaded the chromedriver to current directory)

In [32]:
driver = webdriver.Chrome('/usr/local/bin/chromedriver')

In [33]:
driver.get(URL)

In [34]:
html = driver.page_source

In [38]:
soup = BeautifulSoup(html, 'html5lib')

In [39]:
table = soup.find_all("td")
table[0:5]

[<td>1</td>,
 <td><a href="/symbol/AAPL">Apple Inc.</a></td>,
 <td><a href="/symbol/AAPL">AAPL</a></td>,
 <td>6.160825</td>,
 <td class="text-nowrap"><img alt="" src="/img/down.gif"/>   145.75</td>]

In [41]:
table[0] #rank

In [42]:
table[2] #symbol

In [43]:
table[3] #index weight

In [44]:
def get_info(index,df):
    
    info = []
   
    i = index
    while i < len(df):
        line = df[i].text
        line = line.strip('\n')
        info.append(line)
        i = i+7 
    
    return info

In [45]:
rank = get_info(0,table)
rank[0:5]

['1', '2', '3', '4', '5']

In [46]:
symbols = get_info(2,table)
symbols[0:5]

['AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL']

In [47]:
weights = get_info(3,table)
weights[0:5]

['6.160825', '6.067927', '3.9471', '2.359494', '2.280477']

In [48]:
df = {'Rank': rank, 'Symbol': symbols, 'Weight': weights}

In [49]:
company_by_weight = pd.DataFrame(df)
company_by_weight[0:5]

  Rank Symbol    Weight
0    1   AAPL  6.160825
1    2   MSFT  6.067927
2    3   AMZN    3.9471
3    4     FB  2.359494
4    5  GOOGL  2.280477

In [50]:
company_by_weight['Rank'] = company_by_weight['Rank'].astype(int)
company_by_weight['Weight'] = company_by_weight['Weight'].astype(float)

In [51]:
company_by_weight.to_csv('company_by_weight.csv', index=False)

In [388]:
def get_text(link):
    driver = webdriver.Chrome('/usr/local/bin/chromedriver')
    driver.get(link)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html5lib') 
    table = soup.find_all(class_ = "revenue-eps__table-body")
    driver.close()
   
    return(table)