In [3]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from beautifulsoup4) (2.1)
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
URL = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html5lib")

In [5]:
table = soup.find('tbody')

In [8]:
rows = table.find_all("td")

In [13]:
rows[0]#symbol

<td><a class="external text" href="https://www.nyse.com/quote/XNYS:MMM" rel="nofollow">MMM</a>
</td>

In [14]:
rows[5]#location

In [15]:
rows[6]#date first added

In [16]:
rows[8]#founding year

<td>1902
</td>

In [17]:
def get_info(index,df):
    
    info = []
   
    i = index
    while i < len(df):
        line = df[i].text
        line = line.strip('\n')
        info.append(line)
        i = i+9 
    
    return info

In [18]:
symbols = get_info(0,rows)

In [19]:
symbols[0:5]

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN']

In [20]:
headquarters = get_info(5,rows)
headquarters[0:5]

['Saint Paul, Minnesota',
 'North Chicago, Illinois',
 'North Chicago, Illinois',
 'Danvers, Massachusetts',
 'Dublin, Ireland']

In [21]:
add_date = get_info(6,rows)
add_date[0:5]

['1976-08-09', '1964-03-31', '2012-12-31', '2018-05-31', '2011-07-06']

In [22]:
founded = get_info(8,rows)
founded[0:5]

['1902', '1888', '2013 (1888)', '1981', '1989']

In [23]:
#convert lists to dictionary before creating the dataframe 
df = {'Symbol': symbols, 'Headquarter': headquarters, 'Date Added': add_date, 'Founding Year': founded}

In [24]:
import pandas as pd

In [26]:
df = pd.DataFrame(df)
df[0:5]

  Symbol              Headquarter  Date Added Founding Year
0    MMM    Saint Paul, Minnesota  1976-08-09          1902
1    ABT  North Chicago, Illinois  1964-03-31          1888
2   ABBV  North Chicago, Illinois  2012-12-31   2013 (1888)
3   ABMD   Danvers, Massachusetts  2018-05-31          1981
4    ACN          Dublin, Ireland  2011-07-06          1989

In [27]:
##manually check the founding years/locations of headquarters for each company 
df['Founding Year'][2] = '2013'
df['Founding Year'][25] = '1860'
df['Founding Year'][40] = '2004'
df['Founding Year'][41] = '1982'
df['Founding Year'][51] = '1983'
df['Founding Year'][60] = '1998'
df['Founding Year'][89] = '1915'
df['Founding Year'][141] = '1899'
df['Headquarter'][141] = 'York, Pennsylvania'
df['Founding Year'][201] = '2011'
df['Founding Year'][237] = '1939'
df['Founding Year'][252] = '1930'
df['Founding Year'][253] = '1958'
df['Founding Year'][266] = '2000'
df['Founding Year'][275] = '1997'
df['Founding Year'][276] = '2015'
df['Founding Year'][278] = '2019'
df['Founding Year'][281] = '1950'
df['Founding Year'][293] = '1921'
df['Founding Year'][294] = '1968'
df['Founding Year'][298] = '2009'
df['Founding Year'][319] = '2005'
df['Founding Year'][322] = '1935'
df['Founding Year'][325] = '2004'
df['Founding Year'][326] = '2011'
df['Founding Year'][333] = '2013'
df['Founding Year'][334] = '2013'
df['Founding Year'][335] = '1984'
df['Founding Year'][339] = '1990'
df['Headquarter'][339] = 'Atlanta, Georgia'
df['Founding Year'][341] = '1994'
df['Founding Year'][343] = '1966'
df['Founding Year'][357] = '1853'
df['Founding Year'][369] = '1887'
df['Founding Year'][371] = '1847'
df['Founding Year'][372] = '2012'
df['Founding Year'][400] = '1998'
df['Founding Year'][443] = '1956'
df['Founding Year'][470] = '1983'
df['Founding Year'][473] = '2019'
df['Founding Year'][479] = '1869'

In [28]:
df['Founding Year'] = df['Founding Year'].astype(int)

In [29]:
df.to_csv('company_info.csv', index=False)

### Up to date (9/9/2021) S&P 500 companies By Weight
https://www.slickcharts.com/sp500

In [21]:
pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
     |████████████████████████████████| 904 kB 8.2 MB/s eta 0:00:01
Requirement already satisfied: urllib3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from selenium) (1.26.2)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [30]:
from selenium import webdriver

In [31]:
URL = "https://www.slickcharts.com/sp500"

### Render javascript to extract the data 
1. Download chromedriver from https://sites.google.com/chromium.org/driver/
2. set the chromedriver path to '/usr/local/bin/chromedriver' by using the terminal command 'sudo mv -f chromedriver /usr/local/bin/chromedriver' (if you downloaded the chromedriver to current directory)

In [32]:
driver = webdriver.Chrome('/usr/local/bin/chromedriver')

In [33]:
driver.get(URL)

In [34]:
html = driver.page_source

In [38]:
soup = BeautifulSoup(html, 'html5lib')

In [39]:
table = soup.find_all("td")
table[0:5]

[<td>1</td>,
 <td><a href="/symbol/AAPL">Apple Inc.</a></td>,
 <td><a href="/symbol/AAPL">AAPL</a></td>,
 <td>6.160825</td>,
 <td class="text-nowrap"><img alt="" src="/img/down.gif"/>   145.75</td>]

In [41]:
table[0] #rank

In [42]:
table[2] #symbol

In [43]:
table[3] #index weight

In [44]:
def get_info(index,df):
    
    info = []
   
    i = index
    while i < len(df):
        line = df[i].text
        line = line.strip('\n')
        info.append(line)
        i = i+7 
    
    return info

In [45]:
rank = get_info(0,table)
rank[0:5]

['1', '2', '3', '4', '5']

In [46]:
symbols = get_info(2,table)
symbols[0:5]

['AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL']

In [47]:
weights = get_info(3,table)
weights[0:5]

['6.160825', '6.067927', '3.9471', '2.359494', '2.280477']

In [48]:
df = {'Rank': rank, 'Symbol': symbols, 'Weight': weights}

In [49]:
company_by_weight = pd.DataFrame(df)
company_by_weight[0:5]

  Rank Symbol    Weight
0    1   AAPL  6.160825
1    2   MSFT  6.067927
2    3   AMZN    3.9471
3    4     FB  2.359494
4    5  GOOGL  2.280477

In [50]:
company_by_weight['Rank'] = company_by_weight['Rank'].astype(int)
company_by_weight['Weight'] = company_by_weight['Weight'].astype(float)

In [51]:
company_by_weight.to_csv('company_by_weight.csv', index=False)